/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html {
  height: 100%;
}

html,
body,
.view {
  overflow: unset;
  position: relative;
}

body {
  color: #0d2920;
}

.full-page {
  background: url("../images/booksbg.jpg")
    center center no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
}

.addreview {
  margin: auto;
}

.review-buttons {
  position: absolute;
  top: 0;
  right: 30px;
}
.delete-btn,
.review-btn {
  margin: 6px;
  padding: 6px 12px;
  box-shadow: unset;
  font-size: 1.3rem;
}

.title {
  padding-top: 120px;
}
.account-reviews {
  left: 23vw;
  position: relative;
}

.no-reviews-placeholder {
  margin: 0 auto;
  padding: 30px 0;
}
.accordion > .card > .card-header {
  border-radius: 0;
  border-bottom: 2px solid;
}
.card {
  margin: 0 auto 10px;
}

.card,
.card-header {
  background-color: #f9f9f9;
  box-shadow: unset;
}

.book-title {
  color: #0d2920;
}

.book-review-image {
  width: 150px;
}

.active-green-2 input.form-control[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #0d2920;
  box-shadow: 0 1px 0 0 #0d2920;
}

.pagination .page-item.active .page-link {
  background-color: #0d2920;
}

.recommended-img {
  margin: 0 auto;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: -25px;
}

.poster-image {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100px;
  text-align: center;
}

.pagination-page-info {
  padding: 0.6em;
  padding-left: 0;
  width: auto;
  margin: 0.5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  padding-left: 2px;
  padding: 0.1em 0.25em;
  font-size: 150%;
}

#toast-container {
  top: 80px;
}

footer.page-footer {
  margin-top: -10px;
}
