/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html {
  height: 100%;
}
html,
body,
.view {
  overflow: unset;
  position: relative;
}

.books {
  min-height: 100vh;
}

.intro {
  height: 100vh;
}

.full-page {
  background: url("https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg")
    center center no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
}

.navbar {
  background-color: #000000;
}
.addreview {
  margin: auto;
}
.book-review-image {
  width: 150px;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.poster-image {
  display: inline;
  margin: 0 auto;
  height: auto;
  width:100px;
  text-align: center;
}

.pagination-page-info {
  padding: 0.6em;
  padding-left: 0;
  width: 40em;
  margin: 0.5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  padding-left: 2px;
  padding: 0.1em 0.25em;
  font-size: 150%;
}

#toast-container {
  top: 80px;
}

footer.page-footer {
  margin-top: -10px;
}
