{% extends 'base.html'%} {% set active_page = "user" %} {% block content %}
<div class="view full-page">
  <div class="min-vh-100 white container pt-5">
    <div class="row">
      <div class="col-md-5 mb-4 mt-5 d-flex align-items-center flex-column">
        <h1 class="mt-5 pb-4">Welcome {{ user.user.capitalize() }}</h1>
        {% if user.profile_image == "" %}
        <img
          src="{{ url_for('static', filename='images/profile_placeholder.png') }}"
          alt=""
          width="200"
        />
        {% else %}
        <img
          src="{{ url_for('user_upload', filename=user['profile_image']) }}"
          alt=""
          width="200"
        />
        {% endif %}
        <form>
          <div
            class="btn-group-vertical"
            role="group"
            aria-label="Vertical button group"
          >
            <button
              data-toggle="modal"
              data-target="#modalUploadForm"
              class="btn btn-dark-green"
              type="button"
            >
              Upload a photo!
            </button>
            <button
              formmethod="POST"
              formaction="{{ url_for('edit_profile', user=session['user']) }}"
              class="btn btn-deep-purple"
            >
              Update Profile!
            </button>
            <button
              formmethod="POST"
              formaction="{{ url_for('delete', id=user._id) }}"
              class="btn btn-danger"
            >
              Delete Account
            </button>
          </div>
        </form>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Gender: {{ user.gender }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Favourite Books: {{ user.favourite_book }}</p>
      </div>

      <div class="col-md-7 mb-4 mt-5 pt-5">
        <h2 class="pb-4">Reviews</h2>
        {% if reviews.count() == 0 %}
        <div class="w-100 text-center">
          <h4>You have not posted a review yet!</h4>
        </div>
        {% endif %} {% for reviews in reviews %}

        <div class="row">
          <div class="col-4 col-md-3 d-flex align-items-center flex-column">
            <img src="{{ reviews.book_image_url }}" alt="book-image" />
            <div class="d-flex">
              <form method="POST">
                <button
                  class="btn review-btn p-0"
                  name="edit"
                  formaction="{{ url_for('edit_review', book_id=reviews.book_id) }}"
                  data-toggle="tooltip"
                  title="Edit Review"
                >
                  &#x270d;
                </button>
                <button
                  class="btn delete-btn p-0"
                  name="delete"
                  formaction="{{ url_for('delete', id=reviews._id) }}"
                  data-toggle="tooltip"
                  title="Delete Review"
                >
                  &#x274C;
                </button>
              </form>
            </div>
          </div>
          <div class="col-8 col-md-9">
            <h4>{{ reviews.book_title.capitalize() }}</h4>
            <h5>{{ reviews.book_author.capitalize() }}</h5>
            {% if reviews.user_rating == 1 %}
            <div class="pt-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            {% elif reviews.user_rating == 2 %}
            <div class="pt-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            {% elif reviews.user_rating == 3 %}
            <div class="pt-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            {% elif reviews.user_rating == 4 %}
            <div class="pt-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
            {% elif reviews.user_rating == 5 %}
            <div class="pt-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            {% endif %}
            <p class="pt-3">
              <b>You Said!:</b> {{ reviews.review.capitalize() }}
            </p>
            <p>{{ reviews.date | humanize }}</p>
          </div>
        </div>
        <hr class="{% if loop.last %}d-none{% endif %}" />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
