{% extends 'base.html'%} {% block content %}
<div class="view full-page">
  <div class="min-vh-100 white container pt-5">
    <div class="row fadeIn">
      <div class="col-md-5 mb-4 mt-5 text-center text-md-left position-fixed">
        <h1 class="mt-5">Welcome {{ user.user.capitalize() }}</h1>
        <img
          src="{{ url_for('user_upload', filename=user['profile_image']) }}"
          alt=""
          width="200"
        />
        <div>
          <a href="" data-toggle="modal" data-target="#modalUploadForm"
            >Upload a photo!</a
          >
        </div>
        <div>
          <a href="{{ url_for('edit_profile', user=session['user']) }}"
            >Update Profile!</a
          >
        </div>
        <div>
          <a href="{{ url_for('delete', id=user._id) }}">Delete Account</a>
        </div>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Gender: {{ user.gender }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Favourite Books: {{ user.favourite_book }}</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div
        class="col-md-7 mb-4 mt-5 pt-5 account-reviews my-custom-scrollbar my-custom-scrollbar-primary"
      >
        <!--Card-->
        <h2>Reviews</h2>

        {% for reviews in reviews %}

        <div class="row">
          <div class="col-md-4">
            <img src="{{ reviews.book_image_url }}" alt="book-image" />
          </div>
          <div class="col-md-8">
            <p><b>Title:</b> {{ reviews.book_title.capitalize() }}</p>
            <p><b>Authors:</b> {{ reviews.book_author.capitalize() }}</p>
            <p><b>Stars:</b> {{ reviews.user_rating }}</p>
            <p>
              <b>{{ reviews.user.capitalize() }}</b> says: {{
              reviews.review.capitalize() }}
            </p>
            <div class="review-buttons d-flex">
              <form method="POST">
                <button
                  class="btn review-btn"
                  name="edit"
                  formaction="{{ url_for('edit_review', book_id=reviews.book_id) }}"
                  data-toggle="tooltip"
                  title="Edit Review"
                >
                  &#x270d;
                </button>
              </form>
              <form method="POST">
                <button
                  class="btn delete-btn"
                  name="delete"
                  formaction="{{ url_for('delete', id=reviews._id) }}"
                  data-toggle="tooltip"
                  title="Delete Review"
                >
                  &#x274C;
                </button>
              </form>
            </div>
          </div>
        </div>
        <hr />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
