{% extends 'base.html'%} {% block content %}
<div class="view full-page">
  <div class="min-vh-100 white container pt-5">
    <div class="row fadeIn">
      <div class="col-md-5 mb-4 mt-5 text-center text-md-left">
        <h1 class="mt-5">Welcome {{ user.user.capitalize() }}</h1>
        <img
          src="{{ url_for('user_upload', filename=user['profile_image']) }}"
          alt=""
          width="200"
        />
        <div>
          <a href="" data-toggle="modal" data-target="#modalUploadForm"
            >Upload a photo!</a
          >
        </div>
        <div>
          <a href="{{ url_for('edit_profile', user=session['user']) }}"
            >Update Profile!</a
          >
        </div>
        <div>
          <a href="{{ url_for('delete', id=user._id) }}"
            >Delete Account</a
          >
        </div>
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Age: {{ user.age }}</p>
        <p>Gender: {{ user.gender }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Favourite Books: {{ user.favourite_book }}</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-7 mb-4 mt-5 pt-5">
        <!--Card-->
        <h2>Reviews</h2>

        {% for reviews in reviews %}

        <div class="row">
          <div class="col-md-4">
            <img src="{{ reviews.book_image_url }}" alt="book-image" />
          </div>
          <div class="col-md-8">
            <p><b>Title:</b> {{ reviews.book_title.capitalize() }}</p>
            <p><b>Authors:</b> {{ reviews.book_author.capitalize() }}</p>
            <p><b>Stars:</b> {{ reviews.user_rating }}</p>
            <p>
              <b>{{ reviews.user.capitalize() }}</b> says: {{
              reviews.review.capitalize() }}
            </p>
            <form method="POST">
          <button
            class="btn btn-red btn-sm"
            name="delete"
            formaction="{{ url_for('delete', id=reviews._id) }}"
          >
            Delete Review
            <i class="fas fa-times ml-2"></i>
          </button>
        </form>
          </div>
        </div>
        <hr />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
