<!-- Joins onto base.html, variable active_page set as addBook -->
{% extends 'base.html'%} {% set active_page = "addBook" %} {% block content %}
<div class="full-page">
  <!-- flexbox container -->
  <section class="min-vh-100 white d-flex align-items-center flex-column container title">
    <h1 class="display-4">Add Book</h1>
    <div class="row w-75">
      <!-- Add Book Form -->
      <form class="md-form w-100" method="POST" action="{{ url_for('post_book') }}">
        <!-- Book Title Input -->
        <div class="md-form mt-5">
          <input type="text" id="title" class="form-control" name="title" required />
          <label for="title">Title</label>
        </div>
        <!-- Book Author Input -->
        <div class="md-form">
          <input type="text" id="authors" class="form-control" name="authors" required />
          <label for="authors">Authors</label>
        </div>
        <!-- Published Year Input -->
        <div class="md-form">
          <input type="tel" id="published" class="form-control" name="year" required />
          <label for="published">Publication Year</label>
        </div>
        <!-- Image Url Input -->
        <div class="md-form">
          <input type="text" id="image" class="form-control" name="image" required />
          <label for="image">Image URL</label>
        </div>
        <!-- Book Description Input -->
        <div class="md-form">
          <textarea id="description" class="md-textarea form-control" rows="7" name="description" required ></textarea>
          <label for="description">Description <i class="fas fa-pencil-alt"></i></label>
        </div>
        <!-- Save Button / Submit Form -->
        <button class="btn btn-outline-indigo btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">
          Save
        </button>
      </form>
    </div>
  </section>
</div>
{% endblock %}
