{% extends 'base.html'%} {% block content %}
<!-- Full Page Intro -->
<div class="view full-page">
  <!-- Mask & flexbox options-->
  <div
    class="min-vh-100 white d-flex justify-content-center align-items-center container mt-5 pt-5"
  >
    <!-- Content -->
    <!--Grid row-->
    <div class="row fadeIn w-75">
      <!--Grid column-->
      <h2 class="display-4">Add Book &amp; Review</h2>
      <form
        class="md-form w-100"
        method="POST"
        action="{{ url_for('post_book') }}"
      >
        <div class="md-form mt-5">
          <input
            type="text"
            id="formTitle"
            class="form-control"
            name="title"
            required
          />
          <label for="formTitle">Title</label>
        </div>
        <div class="md-form">
          <input
            type="text"
            id="formAuthors"
            class="form-control"
            name="authors"
            required
          />
          <label for="formAuthors">Authors</label>
        </div>
        <div class="md-form">
          <input
            type="tel"
            id="formISBN"
            class="form-control"
            name="isbn"
            required
          />
          <label for="formISBN">ISBN</label>
        </div>
        <div class="md-form">
          <input
            type="tel"
            id="formPublished"
            class="form-control"
            name="year"
            required
          />
          <label for="formPublished">Publication Year</label>
        </div>
        <div class="md-form">
          <input
            type="text"
            id="formLang"
            class="form-control"
            name="language"
            required
          />
          <label for="formLanguage">Language Code</label>
        </div>
        <div class="md-form">
          <input
            type="text"
            id="image"
            class="form-control"
            name="image"
            required
          />
          <label for="image">Image URL</label>
        </div>
        <div class="md-form">
          <i class="fas fa-pencil-alt prefix"></i>
          <textarea
            id="description"
            class="md-textarea form-control"
            rows="3"
            name="description"
            required
          ></textarea>
          <label for="description">Description</label>
        </div>
        <div class="md-form">
          <i class="fas fa-pencil-alt prefix"></i>
          <textarea
            id="review"
            class="md-textarea form-control"
            rows="3"
            name="review"
            required
          ></textarea>
          <label for="review">Add Review</label>
        </div>
        <select class="md-form browser-default custom-select" name="stars">
          <option value="" disabled selected>How many stars?</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button
          class="btn btn-outline-indigo btn-rounded btn-block z-depth-0 my-4 waves-effect"
          type="submit"
        >
          Save
        </button>
      </form>

      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  {% endblock %}
</div>
