{% extends 'base.html'%} {% set active_page = "reviews" %} {% block content %}
<div class="view full-page">
  <div
    class="min-vh-100 white d-flex align-items-center flex-column container title"
  >
    <h1 class="display-4 pb-5">All Reviews</h1>
    {% if reviews.count() == 0 %}
    <div class="reviews-desc-placeholder flex-center">
      <h4>Sorry No Reviews Yet!</h4>
    </div>
    {% endif %} {% for review in reviews %}
    <div class="row w-75 full-width">
      <div
        class="col-md-4 d-flex justify-content-center justify-content-md-start align-items-center flex-column"
      >
        <div>
          <a href="{{ url_for('get_one_book', book_id=review.book_id) }}">
            <div class="view overlay m-3">
              <img
                class="book-review-image"
                src="{{ review.book_image_url }}"
                alt="book-image"
              />
              <div
                class="mask rgba-black-light d-flex align-content-end flex-wrap"
              >
                <p
                  class="overlay-height white-text w-100 elegant-color text-center"
                >
                  <strong>View More!</strong>
                </p>
              </div>
            </div>
          </a>
        </div>
        <form method="POST">
          <button
            class="btn btn-dark-green btn-sm mt-0 mr-3 ml-3 mb-2"
            name="buy"
            formtarget="_blank"
            formaction="https://www.amazon.co.uk/s?k={{ review.book_title | replace('#', '%23') }}&i=stripbooks&camp=1634&creative=6738&linkCode=ur2&linkId=ee18cd3e629a75b55215c65c6ccb51a4&tag=kushberry-21"
          >
            Buy On Amazon!
            <i class="fas fa-shopping-basket ml-2"></i>
          </button>
        </form>
      </div>
      <div class="col-md-8 text-md-left text-center">
        <h3>{{ review.book_title.title() }}</h3>
        <h4>{{ review.book_author.title() }}</h4>
        <div class="row w-100">
          <div class="col-4 d-flex justify-content-start flex-column">
            <div class="d-flex justify-content-center flex-wrap mt-4">
              <div class="image-cropper">
                <img
                  src="{{ url_for('user_upload', filename=review['user_image']) }}"
                  alt="Review Poster"
                  width="80"
                  class="poster-image"
                />
              </div>
              <p class="mb-0 text-center">
                <b>Posted By:</b> {{ review.user.capitalize() }}
                <br />
                {{ review.date | humanize }}
              </p>
            </div>
          </div>
          <div class="col-8">
            <p class="mb-1" style="white-space: pre-line;">
              {{ review.review.capitalize() }}
            </p>
            {% if review.user_rating == 1 %}
            <div class="pb-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            {% elif review.user_rating == 2 %}
            <div class="pb-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            {% elif review.user_rating == 3 %}
            <div class="pb-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            {% elif review.user_rating == 4 %}
            <div class="pb-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
            {% elif review.user_rating == 5 %}
            <div class="pb-2">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <hr class="w-75 {% if loop.last %}d-none{% endif %}" />
    {% endfor %}
    <div id="pagination" class="pt-5 text-center">
      {{ pagination.links }} {{ pagination.info }}
    </div>
  </div>
</div>
{% endblock %}
