{% extends 'base.html'%} 
{% set active_page = "reviews" %}
{% block content %}
<div class="view full-page">
  <div class="min-vh-100 white d-flex align-items-center flex-column container title">
    <h1 class="display-4">All Reviews</h1>
    {% for review in reviews %}
    <div class="row w-75">
      <div class="col-md-3 d-flex justify-content-center">
        <div class="d-flex align-content-center flex-wrap">
          <img
            class="book-review-image"
            src="{{ review.book_image_url }}"
            alt="book-image"
          />
        </div>
      </div>
      <div class="col-md-9">
        <h3>{{ review.book_title.title() }}</h3>
        <h4>{{ review.book_author.title() }}</h4>
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-content-center flex-wrap"
          >
            <div class="image-cropper">
              <img
                src="{{ url_for('user_upload', filename=review['user_image']) }}"
                alt="Review Poster"
                class="poster-image"
              />
            </div>
          </div>
          <div class="col-md-8">
            <p><b>Review</b> {{ review.review.capitalize() }}</p>
            <p><b>Posted By:</b> {{ review.user.capitalize() }}</p>
            <p><b>Posted</b> {{ review.date | humanize  }}</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="w-75">
    {% endfor %}
  </div>
</div>
{% endblock %}
