{% extends 'base.html'%} {% set active_page = "books" %} {% block content %}
<div class="view full-page">
  <!-- Mask & flexbox options-->
  <div
    class="min-vh-100 white d-flex align-items-center flex-column container title"
  >
    <h1 class="display-4">All Books</h1>

    <form
      class="form-inline d-flex justify-content-center md-form form-sm active-green-2 mt-2 w-75"
      method="POST"
      action=""
      id="searchForm"
      name="searchForm"
    >
      <i class="fas fa-search" aria-hidden="true"></i>
      <input
        class="form-control form-control-sm ml-3 w-75"
        type="text"
        placeholder="Search"
        aria-label="Search"
        name="search"
        id="search"
        value="{{ request.form['search'] }}"
      />
    </form>
    {{ pagination.links }}
    <div class="sort">
      Sort By:
      <a href="{{ url_for('get_books') }}">Title</a> /
      <a href="{{ url_for('get_books_year') }}">Year</a>
    </div>
    <div class="row">
      {% for books in books %}

      <div class="col-md-3">
        <div class="thumbnail">
          <a
            href="{{ url_for('get_one_book', book_id=books._id) }}"
            data-toggle="popover-hover"
            title="Most Recent Review"
            data-content="{% if books.no_of_reviews == 0 %}Sorry No Reviews Yet!{% elif books.no_of_reviews == null %}Sorry No Reviews Yet!{% endif %} {% for review in books.reviews|sort(reverse=true, attribute='date') %} {% if loop.index > 1 %} {% break %} {% endif %} {{ review.review.capitalize() }}{%endfor%}"
          >
            <img
              src="{{ books.image_url }}"
              alt="book cover"
              style="width: 100%;"
            />
            <div class="caption">
              <h5 class="mb-0 book-title">
                {{ books.title }}
                <i class="fas fa-angle-down"></i>
              </h5>
              <h6 class="mb-0 book-title">{{ books.authors }}</h6>
            </div>
          </a>
        </div>
      </div>

      {% endfor%}
    </div>

    <div class="pt-5">
      {{ pagination.links }} {{ pagination.info }}
    </div>
  </div>
</div>
{% endblock %}
