{% extends 'base.html'%} {% set active_page = "books" %} {% block content %}
<div class="view full-page">
  <!-- Mask & flexbox options-->
  <div
    class="min-vh-100 white d-flex align-items-center flex-column container title"
  >
    <h1 class="display-4">All Books</h1>

    <form
      class="form-inline d-flex justify-content-center md-form form-sm active-green-2 mt-2 w-75"
      method="GET"
      action=""
      id="searchForm"
      name="searchForm"
    >
      <i class="fas fa-search" aria-hidden="true"></i>
      <input
        class="form-control form-control-sm ml-3 w-75"
        type="text"
        placeholder="Search"
        aria-label="Search"
        name="search"
        id="search"
        value="{{ request.form['search'] }}"
      />
    </form>
    {{ pagination.links }}
    <div class="sort">
      Sort By:
      <a href="{{ url_for('get_books') }}">Title</a> /
      <a href="{{ url_for('get_books_year') }}">Year</a>
    </div>
    <div class="row w-100 d-flex justify-content-center text-center">
      {% for books in books %}
      <div class="col-lg-2 col-md-3 col-6">
        <div class="thumbnail">
          <a
            href="{{ url_for('get_one_book', book_id=books._id) }}"
            data-toggle="popover-hover"
            title="Most Recent Review"
            data-content="{% if books.no_of_reviews == 0 %}Sorry No Reviews Yet!{% elif books.no_of_reviews == null %}Sorry No Reviews Yet!{% endif %} {% for review in books.reviews|sort(reverse=true, attribute='date') %} {% if loop.index > 1 %} {% break %} {% endif %} {{ review.review.capitalize() }}{%endfor%}"
          >
            <div class="book-thumb col-12 p-0">
              <img
                src="{{ books.image_url }}"
                alt="book cover"
                style="width: 100%;"
                class="img-fluid img-thumbnail"
              />
            </div>
            <div class="caption col-12 p-0">
              <h5 class="mb-0 pt-2 book-title">
                {{ books.title|truncate(100) }}
              </h5>
              <h6 class="mb-3 book-title font-weight-bold">
                {{ books.authors|truncate(50) }}
              </h6>
            </div>
          </a>
        </div>
      </div>

      {% if loop.index % 6 == 0 %}
      <hr class="w-100 d-md-none d-lg-inline" />
      {% endif %} {% if loop.index % 4 == 0 %}
      <hr class="w-100 d-md-inline d-none d-lg-none" />
      {% endif %}{% if loop.index % 2 == 0 %}
      <hr class="w-100 d-sm-inline d-md-none d-lg-none" />
      {% endif %} {% endfor %}

      
    </div>
    <div class="pt-5">
        {{ pagination.links }} {{ pagination.info }}
      </div>
  </div>
</div>
{% endblock %}
