{% extends 'base.html'%} {% block content %}
<!-- Full Page Intro -->
<div class="view full-page-intro">
  <!-- Mask & flexbox options-->
  <div
    class="mask rgba-black-light white d-flex justify-content-center align-items-center container"
  >
    <!-- Content -->
    <!--Grid row-->
    <div class="row fadeIn w-75">
      <!--Grid column-->
      <h2 class="display-4 font-weight-bold">Edit Book</h2>
      <form
        class="md-form w-100"
        method="POST"
        action=""
      >
        <div class="md-form mt-5">
          <input
            type="text"
            id="formName"
            class="form-control"
            name="firstName"
            value=""
          />
          <label for="formName">First Name</label>
        </div>
        <div class="md-form">
          <input
            type="text"
            id="formLastName"
            class="form-control"
            name="lastName"
            value=""
          />
          <label for="formLastName">Last name</label>
        </div>
        <div class="md-form">
          <input type="tel" id="formAge" class="form-control" name="age" value="" />
          <label for="formAge">Age</label>
        </div>
        <div class="md-form">
          <select class="browser-default custom-select" name="gender">
            <option value="">Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="md-form">
          <input
            type="email"
            id="formEmail"
            class="form-control"
            name="email"
            value=""
          />
          <label for="formEmail">E-mail</label>
        </div>
        <div class="md-form">
          <textarea
            type="text"
            id="formMessage"
            class="form-control md-textarea"
            rows="3"
            name="fav-book"
          ></textarea>
          <label for="formMessage">Favourite Book?</label>
        </div>
        <button
          class="btn btn-outline-indigo btn-rounded btn-block z-depth-0 my-4 waves-effect"
          type="submit"
        >
          Save
        </button>
      </form>

      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  {% endblock %}
</div>
