{% extends 'base.html'%} {% block content %}
<!-- Full Page Intro -->
<div class="view full-page">
  <!-- Mask & flexbox options-->
  <div
    class="min-vh-100 white d-flex align-items-center flex-column container title"
  >
    <!-- Content -->
    <!--Grid row-->
    <div class="row fadeIn w-75">
      <!--Grid column-->
      <h2 class="display-4">Edit Book</h2>
      <form class="md-form w-100" method="POST" action="{{ url_for('updating_book', book_id=book._id) }}">
        <div class="md-form mt-5">
          <input
            type="text"
            id="formTitle"
            class="form-control"
            name="title"
            value="{{ book.title }}"
            required
          />
          <label for="formTitle">Title</label>
        </div>
        <div class="md-form">
          <input
            type="text"
            id="formAuthors"
            class="form-control"
            name="authors"
            value="{{ book.authors }}"
            required
          />
          <label for="formAuthors">Authors</label>
        </div>
        <div class="md-form">
          <input
            type="tel"
            id="formPublished"
            class="form-control"
            name="year"
            value="{{ book.original_publication_year }}"
            required
          />
          <label for="formPublished">Publication Year</label>
        </div>
        {% if book.image_url == "https://cdn.bookauthority.org/dist/images/book-cover-not-available.6b5a104fa66be4eec4fd16aebd34fe04.png" or book.image_url == "" %}
        <div class="md-form">
          <input
            type="text"
            id="formUrl"
            class="form-control"
            name="url"
          />
          <label for="formURL">Book Cover URL</label>
        </div>
        {% endif %}
        <div class="md-form">
          <textarea
            id="description"
            class="md-textarea form-control"
            rows="3"
            name="description"
            required
          >{{ book.description }}</textarea>
          <label for="bookDescription"
            >Description <i class="fas fa-pencil-alt"></i
          ></label>
        </div>
        <button
          class="btn btn-outline-indigo btn-rounded btn-block z-depth-0 my-4 waves-effect"
          type="submit"
        >
          Save
        </button>
      </form>

      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
</div>
  {% endblock %}
