{% extends 'base.html'%} {% block content %}
<!-- Full Page Intro -->
<div class="view full-page-intro">
  <!-- Mask & flexbox options-->
  <div
    class="mask rgba-black-light white d-flex justify-content-center align-items-center container"
  >
    <!-- Content -->
    <!--Grid row-->
    <div class="row fadeIn w-75">
      <!--Grid column-->

      <form class="md-form w-100" method="POST" action="{{ url_for('user_details', user=session['user']) }}">
        <div class="md-form mt-5">
          <input
            type="text"
            id="FormName"
            class="form-control"
            name="firstName"
          />
          <label for="FormName">First Name</label>
        </div>
        <div class="md-form mt-3">
          <input
            type="text"
            id="FormLastName"
            class="form-control"
            name="lastName"
          />
          <label for="FormLastName">Last name</label>
        </div>
        <div class="md-form mt-3">
          <input type="tel" id="FormAge" class="form-control" name="age" />
          <label for="FormAge">Age</label>
        </div>
        <div class="md-form mt-3">
          <input
            type="email"
            id="FormEmail"
            class="form-control"
            name="email"
            value="{{user.email}}"
          />
          <label for="FormEmail">E-mail</label>
        </div>
        <div class="md-form mt-3">
          <textarea
            type="text"
            id="materialSaveFormMessage"
            class="form-control md-textarea"
            rows="3"
            name="fav-book"
          ></textarea>
          <label for="materialSaveFormMessage">Favourite Book?</label>
        </div>
        <button
          class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
          type="submit"
        >
          Save
        </button>
      </form>

      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  {% endblock %}
</div>
