<!-- Joins onto base.html, variable active_page set as account -->
{% extends "base.html" %} 
{% set active_page = "account" %} 
{% block content %}
<div class="full-page">
  <!-- flexbox container -->
  <section class="min-vh-100 white d-flex align-items-center flex-column container title">
    <h2 class="display-4 text-center">Update Profile Info</h2>
    <div class="row w-75 full-width">
      <!-- Edit Profile Form -->
      <form class="md-form w-100" method="POST" action="{{ url_for('updating_user_details', user=session['user']) }}">
        <!-- First Name Input -->
        <div class="md-form mt-5">
          <input type="text" id="name" class="form-control" name="firstName" value="{{ user.first_name }}" />
          <label for="name">First Name</label>
        </div>
        <!-- Last Name Input -->
        <div class="md-form">
          <input type="text" id="lastName" class="form-control" name="lastName" value="{{ user.last_name }}" />
          <label for="lastName">Last name</label>
        </div>
        <!-- Age Input -->
        <div class="md-form">
          <input type="tel" id="age" class="form-control" name="age" value="{{ user.age }}" />
          <label for="age">Age</label>
        </div>
        <!-- Gender Select Input -->
        <div class="md-form">
          <select class="browser-default custom-select" name="gender">
            <option value="{{ user.gender }}">Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <!-- Email Input -->
        <div class="md-form">
          <input type="email" id="email" class="form-control" name="email" value="{{user.email}}" />
          <label for="email">E-mail</label>
        </div>
        <!-- Favourite Book Input -->
        <div class="md-form">
          <textarea id="favBook" class="form-control md-textarea" rows="3" name="fav-book"></textarea>
          <label for="favBook">Favourite Book?</label>
        </div>
        <!-- Save Button / Submit Button -->
        <button class="btn btn-outline-indigo btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">
          Save
        </button>
      </form>
    </div>
  </section>
</div>
{% endblock %}
