<!-- Joins onto base.html, variable active_page set as books -->
{% extends "base.html" %} 
{% set active_page = "books" %} 
{% block content %}
<div class="full-page">
  <!-- flexbox container -->
  <div class="min-vh-100 white d-flex align-items-center flex-column container title">
    <section class="row fadeIn w-75">
      <h2 class="display-4">Edit Book</h2>
      <!-- Edit Book Form -->
      <form class="md-form w-100" method="POST" action="{{ url_for('updating_book', book_id=book._id) }}">
        <!-- Book Title Input -->
        <div class="md-form mt-5">
          <input type="text" id="title" class="form-control" name="title" value="{{ book.title }}" required />
          <label for="title">Title</label>
        </div>
        <!-- Book Author Input -->
        <div class="md-form">
          <input type="text" id="authors" class="form-control" name="authors" value="{{ book.authors }}" required />
          <label for="authors">Authors</label>
        </div>
        <!-- Published Year Input -->
        <div class="md-form">
          <input type="tel" id="published" class="form-control" name="year" value="{{ book.original_publication_year }}" required />
          <label for="published">Publication Year</label>
        </div>
        <!-- Book Cover Url Input If No Cover is present -->
        <div class="md-form">
          <input type="text" id="url" class="form-control" name="url" value="{{ book.image_url }}" />
          <label for="url">Book Cover URL</label>
        </div>
        <!-- Book Description Input -->
        <div class="md-form">
          <textarea id="description" class="md-textarea form-control" rows="7" name="description">{{ book.description }}</textarea>
          <label for="description">Description <i class="fas fa-pencil-alt"></i></label>
        </div>
        <!-- Save Button / Submit Button -->
        <button class="btn btn-outline-indigo btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">
          Save
        </button>
      </form>
    </section>
  </div>
</div>
{% endblock %}
