<footer class="page-footer font-small bg-dark pt-4">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-3">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/profile.php?id=555815524" target="_blank">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/?lang=en-gb" target="_blank">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/tomjoneswebdev/" target="_blank">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/?hl=en" target="_blank">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic" href="https://www.pinterest.co.uk/" target="_blank">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright
    <a href="https://github.com/kushberrycream" target="_blank">Tom Jones.</a>
    All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
