{% if 'user' not in session %}
<!-- login modal-->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal Content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Login form  -->
      <form method="POST" action="{{ url_for('login') }}">
        <!-- Modal body -->
        <div class="modal-body mx-3">
          <!-- Input for Username -->
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" id="defaultForm-user" class="form-control validate" name="user" autocomplete="username" required />
            <label data-error="wrong" data-success="right" for="defaultForm-user">Username</label>
          </div>
          <!-- Input for Password -->
          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" class="form-control validate" name="pass" autocomplete="current-password" required />
            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
          </div>
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-indigo">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}{% endif %} {% if active_page == 'account' %}
<!-- Upload Photo Modal -->
<div class="modal fade" id="modalUploadForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!-- Modal Content -->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Upload Photo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Upload Photo Form  -->
      <form class="md-form" action="{{ url_for('profile_image_upload', user=session['user']) }}" method="POST" enctype="multipart/form-data">
        <!-- Modal body -->
        <div class="modal-body mx-3">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" name="profile_image" aria-describedby="inputGroupFileAddon01" />
              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
        </div>
        <!-- Modal Footer -->
        <div class="modal-footer d-flex justify-content-center">
          <input class="btn btn-indigo" type="submit" />
        </div>
      </form>
    </div>
  </div>
</div>
{% else %}{% endif %}
