{% extends 'base.html'%} {% set active_page = "books" %} {% block content %}
<div class="view full-page">
  <div class="min-vh-100 white container pt-5">
    <div class="row">
      <div class="col-md-5 mb-4 mt-5 d-flex align-items-center flex-column">
        <h1 class="mt-5">{{ book.title }}</h1>
        <h4>{{ book.authors }}</h4>
        {% if book.average_rating == null %}
        <p>Not Yet Rated!</p>
        {% elif book.average_rating.to_decimal() <= 1.5 %}
        <div class="flex-row">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        {% elif book.average_rating.to_decimal() <= 2.5 %}
        <div class="flex-row">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        {% elif book.average_rating.to_decimal() <= 3.5 %}
        <div class="flex-row">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        {% elif book.average_rating.to_decimal() <= 4.5 %}
        <div class="flex-row">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
        </div>
        {% elif book.average_rating.to_decimal() <= 5.5 %}
        <div class="flex-row">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        {% endif %}
        <img src="{{ book.image_url }}" alt="" width="200" />
        <p>Published: {{ book.original_publication_year }}</p>
        <form method="POST">
          <div
            class="btn-group-vertical"
            role="group"
            aria-label="Vertical button group"
          >
            <button
              class="btn btn-green"
              name="buy"
              formtarget="_blank"
              formaction="https://www.amazon.co.uk/s?k={{ book.title | replace('#', '%23') }}&i=stripbooks&camp=1634&creative=6738&linkCode=ur2&linkId=ee18cd3e629a75b55215c65c6ccb51a4&tag=kushberry-21"
            >
              Buy On Amazon!
              <i class="fas fa-shopping-basket ml-2"></i>
            </button>
            <button
              formaction="{{ url_for('add_review', book_id=book._id) }}"
              class="btn btn-indigo btn-sm"
            >
              Add Review
              <i class="fas fa-comments"></i>
            </button>
            <button
              formaction="{{ url_for('edit_book', book_id=book._id) }}"
              class="btn btn-warning btn-sm"
              name="edit"
            >
              Edit Book
              <i class="fas fa-edit ml-2"></i>
            </button>

            {% if session['user'] == 'admin' or book.posted_by %}
            <button
              class="btn btn-red btn-sm"
              name="delete"
              formaction="{{ url_for('delete', id=book._id) }}"
            >
              Delete Book
              <i class="fas fa-times ml-2"></i>
            </button>
            {% endif %}
          </div>
        </form>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-7 mb-4 mt-5 pt-5">
        <h2>Description</h2>
        {% if book.description == null %}
        <p>Sorry No Description Yet!</p>
        {% endif %} {% if book.description == "" %}
        <p>Sorry No Description Yet!</p>
        {% endif %}
        <p>{{ book.description }}</p>

        <h2>Reviews</h2>
        {% if book.no_of_reviews == 0 %}
        <p>Sorry No Reviews Yet!</p>
        {% elif book.no_of_reviews == null %}
        <p>Sorry No Reviews Yet!</p>
        {% endif %} {% for reviews in book.reviews|sort(reverse=true,
        attribute='date') %}

        <div class="row">
          <div
            class="col-4 d-flex justify-content-center align-content-center flex-wrap"
          >
            <div class="image-cropper">
              <img
                src="{{ url_for('user_upload', filename=reviews['user_image']) }}"
                alt="Review Poster"
                width="80"
                class="poster-image"
              />
            </div>
          </div>
          <div class="col-8">
            <p><b>Review</b> {{ reviews.review.capitalize() }}</p>
            <p><b>Posted By:</b> {{ reviews.user.capitalize() }}</p>
            <p><b>Posted</b> {{ reviews.date | humanize }}</p>
          </div>
        </div>
        <hr class="{% if loop.last %}d-none{% endif %}" />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
