{% extends 'base.html'%} {% block content %}
<div class="view full-page">
  <div class="books justify-content-center white container mt-5 pt-5">
    <h1 class="display-4">All Reviews</h1>
    
        {% for review in reviews %}
    <div class="row">
          <div class="col-3">
            <img src="{{ review.book_image_url }}" alt="book-image" />
          </div>
          <div class="col-9">
            <p><b>Title:</b> {{ review.book_title.capitalize() }}</p>
            <p><b>Authors:</b> {{ review.book_author.capitalize() }}</p>
            <p><b>Posted By:</b> {{ review.user.capitalize() }}</p>
            <p><b>Review</b> {{ review.review.capitalize() }}</p>
            <p><b>Posted</b> {{ review.time_of_post }}</p>
            <img
          src="{{ url_for('user_upload', filename=review['user_image']) }}"
          alt=""
          width="200"
        />
          </div>
          <!--Grid column-->
        </div>
        <hr />
    {% endfor %}
    <!--Grid row-->
    <!-- Content -->
  </div>
</div>
{% endblock %}
