{% extends 'base.html'%} {% block content %}
<div class="view full-page">
  <div class="books justify-content-center white container mt-5 pt-5">
    <h1 class="display-4">All Reviews</h1>
    {% for user in user %} 
        {% for review in user.review %}
    <div class="row">
          <div class="col-3">
            <img src="{{ review.book_image_url }}" alt="book-image" />
          </div>
          <div class="col-9">
            <p><b>Title:</b> {{ review.book_title.capitalize() }}</p>
            <p><b>Authors:</b> {{ review.book_author.capitalize() }}</p>
            <p><b>Posted By:</b> {{ user.user.capitalize() }}</p>
            <p><b>Review</b> {{ review.review.capitalize() }}</p>
          </div>
          <!--Grid column-->
        </div>
        <hr />
        {% endfor %}
    {% endfor %}
    <!--Grid row-->
    <!-- Content -->
  </div>
</div>
{% endblock %}
