{% extends 'base.html'%} {% set active_page = "recommendations" %} {% block
content %}
<div class="full-page">
  <!-- flexbox container -->
  <div
    class="min-vh-100 white d-flex align-items-center flex-column container title text-center"
  >
    <h1 class="display-4">Recommended</h1>
    <h2>Recommended by Users</h2>
    <div class="row d-flex justify-content-center w-100">
      {% if most_recent.count() == 0 %}
      <div class="reviews-desc-placeholder flex-center">
        <h4>Sorry No Reviews Yet!</h4>
      </div>
      {% endif %} {% for recent in most_recent %}
      <div class="col-lg-2 col-md-3 col-4">
        <div class="thumbnail">
          <a
            href="{{ url_for('get_one_book', book_id=recent.book_id) }}"
            data-toggle="popover-hover"
            title="Reviewed by: {{ recent.user.capitalize() }}"
            data-content="{{ recent.review.capitalize()|truncate(200) }} Click the book cover to view more!"
          >
            <div class="book-thumb col-12 p-0">
              <div class="view overlay">
                <img
                  src="{{ recent.book_image_url }}"
                  alt="book cover"
                  style="width: 100%;"
                  class="img-fluid img-thumbnail"
                />
                <div
                  class="mask rgba-black-light d-flex align-content-end flex-wrap"
                >
                  <p
                    class="overlay-height white-text w-100 elegant-color text-center"
                  >
                    <strong>View More!</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="caption col-12 p-0">
              <p class="mb-0 pt-2 book-title">
                {{ recent.book_title|truncate(60) }}
              </p>
              <p class="mb-3 book-author font-weight-bold">
                {{ recent.book_author|truncate(50) }}
              </p>
              {% if recent.user_rating == null %}
              <p>Not Yet Rated!</p>
              {% elif recent.user_rating == 1 %}
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star grey-text"></span>
                <span class="fa fa-star grey-text"></span>
                <span class="fa fa-star grey-text"></span>
                <span class="fa fa-star grey-text"></span>
              </div>
              {% elif recent.user_rating == 2 %}
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star grey-text"></span>
                <span class="fa fa-star grey-text"></span>
                <span class="fa fa-star grey-text"></span>
              </div>
              {% elif recent.user_rating == 3 %}
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star grey-text"></span>
                <span class="fa fa-star grey-text"></span>
              </div>
              {% elif recent.user_rating == 4 %}
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star grey-text"></span>
              </div>
              {% elif recent.user_rating == 5 %}
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              {% endif %}
              <p class="posted-by">{{ recent.date | humanize }}</p>
            </div>
          </a>
        </div>
      </div>

      {% endfor %}
    </div>
    <hr class="w-75" />
    <h2>Five Star</h2>
    {% if five_star.count() == 0 %}
    <div class="reviews-desc-placeholder flex-center">
      <h4>Sorry No Reviews Yet!</h4>
    </div>
    {% endif %}
    <div class="row d-flex justify-content-center w-100">
      {% for five in five_star %}
      <div class="col-lg-2 col-md-3 col-4">
        <div class="thumbnail">
          <a href="{{ url_for('get_one_book', book_id=five.book_id) }}">
            <div class="book-thumb col-12 p-0">
              <div class="view overlay">
                <img
                  src="{{ five.book_image_url }}"
                  alt="book cover"
                  style="width: 100%;"
                  class="img-fluid img-thumbnail"
                />
                <div
                  class="mask rgba-black-light d-flex align-content-end flex-wrap"
                >
                  <p
                    class="overlay-height white-text w-100 elegant-color text-center"
                  >
                    <strong>View More!</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="caption col-12 p-0">
              <p class="mb-0 pt-2 book-title">
                {{ five.book_title|truncate(60) }}
              </p>
              <p class="mb-3 book-author font-weight-bold">
                {{ five.book_author|truncate(50) }}
              </p>
              <p class="posted-by">{{ five.date | humanize }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <hr class="w-75" />
    <h2>Four Star</h2>
    {% if four_star.count() == 0 %}
    <div class="reviews-desc-placeholder flex-center">
      <h4>Sorry No Reviews Yet!</h4>
    </div>
    {% endif %}
    <div class="row d-flex justify-content-center w-100">
      {% for four in four_star %}
      <div class="col-lg-2 col-md-3 col-4">
        <div class="thumbnail">
          <a href="{{ url_for('get_one_book', book_id=four.book_id) }}">
            <div class="book-thumb col-12 p-0">
              <div class="view overlay">
                <img
                  src="{{ four.book_image_url }}"
                  alt="book cover"
                  style="width: 100%;"
                  class="img-fluid img-thumbnail"
                />
                <div
                  class="mask rgba-black-light d-flex align-content-end flex-wrap"
                >
                  <p
                    class="overlay-height white-text w-100 elegant-color text-center"
                  >
                    <strong>View More!</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="caption col-12 p-0">
              <p class="mb-0 pt-2 book-title">
                {{ four.book_title|truncate(60) }}
              </p>
              <p class="mb-3 book-author font-weight-bold">
                {{ four.book_author|truncate(50) }}
              </p>
              <p class="posted-by">{{ four.date | humanize }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
